{% extends 'base.html' %}
{% load static %}
{% block title %}Catalogo{% endblock %}

{% block content %}

{% if products %}
<h1>Catalogo</h1>
    <div class="products-cont">
        {% for p in products %}
        <div class="product-card">
            <img src="{% static 'img/no_img.jpg' %}" alt="">
            <hr>
            <h2>{{ p.name }}</h2>
            <p class="price">{{ p.priceUSD }}</p>
            <div class="product-buttons-cont">
                <a href="{% url 'carrito:agregar_carrito' id_product=p.id %}"><button>Comprar</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
{{ error }}
{% endif %}



{% endblock %}