* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    background: #2952BE;
    height: 64px;
}

nav ul {
    width: 100%;
    text-align: end;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    display: block;
    line-height: 64px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

nav li a:hover {
    color: #375DC2;
    background: #D1D1F2;
}

/* === Catalogo === */

.main-catalogo-cont {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.categories-cont {
    width: 20%;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    padding: 10px;
}


.categories-cont ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.categories-cont li {
    display: flex;
}

.categories-cont li a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: rgb(69, 69, 69);
}

.categories-cont li a:hover {
    color: black;
}

.selected {
    color: black !important;
}

.products-cont {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px;
    width: 80%;
    padding: 15px;
    margin: auto;
    background-color: rgb(196, 196, 196);
    justify-content: space-around;
}

.product-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    border: 1px solid;
    padding: 10px;
    background: white;
}

.product-card img {
    width: 100%;
}

.product-card h2 {
    font-size: 20px;
}

.product-card p {
    font-size: 20px;
    font-weight: bold;
}

.product-buttons-cont {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.product-buttons-cont button {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #EFEFEF;
}

.product-buttons-cont button:hover {
    background-color: #a6a6a6;
    color: white;
}

#cart-btn {
    background-color: yellow;
}

#cart-btn:hover {
    background-color: rgb(200, 200, 69);
}

/* Tabla Carrito */
.table {
    width: 100%;
    border-collapse: collapse;
}

.total {
    width: 20%;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.btn-group {
    display: flex;
}

.btn-group .btn {
    flex: 1;
    margin-right: 5px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #337ab7;
    color: #fff;
    border-color: #2e6da4;
}

.btn:hover {
    background-color: #286090;
    border-color: #204d74;
}

.price {
    font-weight: bold;
}

/* Formulario */
form{
    width: 30%;
    padding: 30px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #a6a6a6;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}